body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
font-size: 36px;
}
#board {
    margin: 20px auto;
    width: 300px;
    border-collapse: collapse;
}

.cell {
    width: 100px;
    height: 100px;
    background-image: none; /* Establece la imagen de fondo en el script */
    background-size: cover;
    cursor: pointer;
    border: 3px solid #000; /* Agregar borde de 2px de ancho y color negro */
}

.cell:hover {
    background-color: lightblue;
}

#reset {
    display: inline-block; /* Cambiado de "block" a "inline-block" para que ocupe solo el ancho necesario */
    margin: 20px auto;
    padding: 12px 24px; /* Aumentado el espaciado interno para un mejor aspecto */
    font-size: 18px;
    background-color: #3498db; /* Cambiado el color de fondo a un azul más atractivo */
    color: #fff; /* Cambiado el color del texto a blanco para mejorar la legibilidad */
    border: none; /* Eliminado el borde para un aspecto más limpio */
    border-radius: 5px; /* Agregado un radio de borde para suavizar las esquinas */
    cursor: pointer; /* Cambiado el cursor al estilo de un botón */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Eliminado el subrayado del texto */
}

#reset:hover {
    background-color: #2980b9; /* Cambiado el color de fondo al pasar el cursor sobre el botón */
}

#turn {
    font-size: 20px;
}
#winner-image-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    justify-content: center;
    align-items: center;
  }
  
  #winner-image {
    max-width: 100%;
    max-height: 100%;
  }
